# dependencies
node_modules

# sync-server
.github/sync-server.yml

# sync-client
.husky
.vscode
.editorconfig
.markdownlint.json
.markdownlintignore
.nvmrc
.prettierignore
.textlintrc.cjs
VScode.code-workspace
eslint.config.mjs
lint-staged.config.mjs
prettier.config.mjs
