# dependencies
node_modules

# production
build

# sync-server
.github/sync-server.yml

# sync-client

# .github/workflows/lint.yml
# .github/dependabot.yml
.husky
.vscode
.editorconfig
.eslintignore
.eslintrc.js
.markdownlint.json
.markdownlintignore
.nvmrc
.prettierignore
.prettierrc.js
babel.config.js
VScode.code-workspace
