# dependencies
node_modules

# sync-server
.github/sync-server.yml

# sync-client
.husky
.vscode
.editorconfig
.markdownlint.json
.markdownlintignore
.nvmrc
.prettierignore
.prettierrc.js
.textlintrc.js
VScode.code-workspace
eslint.config.js
lint-staged.config.js
